@model ICollection<MemberResponse>

@{
	ViewBag.Title = "Members";
}

<table border="1" class="table">
	<thead class="table thead">
		<tr>
			<th>Role</th>
			<th>Name</th>
			<th>Username</th>
			<th>Contact Number</th>
			<th>Address</th>
			<th>Date of Birth</th>
			<th>Gender</th>
			<th>Membership Type</th>
			<th>Attendances</th>
			<th>Class Bookings</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var member in Model)
		{
			<tr class="table tbody tr">
				<td>
					@foreach (var role in @member.User.userRoles)
					{
						<div>@role.RoleName</div>
					}
				</td>
				<td>@member.User.DisplayName</td>
				<td>@member.User.UserName</td>
				<td>@member.User.PhoneNumber</td>
				<td>@member.User.Address</td>
				<td>@member.DateOfBirth</td>
				<td>@member.Gender</td>
				<td>@member.MembershipName</td>
				<td>
					<a>View Attendances</a>
				</td>
				<td>
					<a>View Class Bookings</a>
				</td>
				<td>
					<a asp-controller="Member" asp-action="UpdateMember" asp-route-memberId="@member.User.Id">Update</a>
					<a asp-controller="Member" asp-action="RemoveMember" asp-route-memberId="@member.User.Id">Remove</a>
				</td>

			</tr>
		}
	</tbody>
</table>